.st0{fill:none;}

#fm {
  fill: $default-primary;

  @include between($breakpoint-md, $breakpoint-xl){
    opacity: 0;
  }
}
#r {
  fill: $default-danger;
}
#b {
  fill: $default-primary;
}
#uhgalter {
  fill: $default-primary;

  @include between($breakpoint-md, $breakpoint-xl){
    opacity: 0;
  }
}
.logo-collapsed {
  opacity: 0;
  transition: all 0.2s ease;
}

//LOGO styles to sidebar

.sidebar {
  @include between($breakpoint-md, $breakpoint-xl) {
    &:hover {
      #fm {
        opacity: 1;
        transition: all 0.2s ease;
      }
      #uhgalter {
        opacity: 1;
        transition: all 0.2s ease;
      }
    }
  }
}