.st0{fill:none;}

#fm {
  fill: $default-primary;

  @include between($breakpoint-md, $breakpoint-xl){
    opacity: 0;
  }
}
#r {
  fill: $default-danger;
}
#b {
  fill: $default-primary;
}
#uhgalter {
  fill: $default-primary;

  @include between($breakpoint-md, $breakpoint-xl){
    opacity: 0;
  }
}
.logo-collapsed {
  opacity: 0;
  transition: all 0.2s ease;

  //@include between($breakpoint-md, $breakpoint-xl) {
  //  opacity: 1;
  //
  //  #uhgalter, #fm {
  //    opacity: 0 !important;
  //    transition: all 0.2s ease;
  //  }
  //}
}

//@media screen and (max-width: 992px) {
//  #uhgalter, #fm {
//    opacity: 0;
//    transition: all 0.2s ease;
//  }
//  .logo-collapsed {
//    opacity: 1 !important;
//    transition: all 0.2s ease;
//  }
//}