/*
+ @Fonts
*/

$font-bold: 'open_sansbold', sans-serif;
$font-bold-italic:'open_sansbold_italic', sans-serif;
$font-bold-semi: 'open_sanssemibold', sans-serif;
$font-bold-semi-italic: 'open_sanssemibold_italic', sans-serif;
$font-bold-extra: 'open_sansextrabold', sans-serif;
$font-bold-extra-italic:'open_sansextrabold_italic', sans-serif;
$font-italic:'open_sansitalic', sans-serif;
$font-light:'open_sanslight', sans-serif;
$font-light-italic: 'open_sanslight_italic', sans-serif;
$font-regular: 'open_sansregular', sans-serif;



$font-primary: $font-regular;
$font-secondary: $font-bold;
$font-size-base: 0.875rem;
